.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.myForm {
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  margin-bottom: 10px;
  width: 40%;
}
.error {
  border: 2px solid #ff6565;
}
.myInput {
  margin-top: 20px;
}
.error-message {
  color: #ff6565;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to fill the viewport vertically */
}
.forgot-password-form,
.forgot-password-email-sent {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}

.forgot-password-form {
  max-width: 400px;
}

.forgot-password-email-sent {
  text-align: center;
}
